- content_for(:title) do
  Buy African Food Products Directly From Farmers in Africa
- content_for(:description) do
  Jump Africa is a company that buys directly from farmers in Africa and sells to customers around the world. We have products like fresh vegetables, beans, spices, coffee and more! Visit our website today for more information.
- content_for(:meta_description) do
  Jump Africa is a company that buys directly from farmers in Africa and sells to customers around the world. We have products like fresh vegetables, beans, spices, coffee and more! Visit our website today for more information.

- content_for :scripts do
  = render partial: "shared/google_maps_js"

- content_for :injection_data do
  - cache(*CacheService::FragmentCaching.ams_shops) do
    = inject_enterprises(@enterprises)
  - cache(*CacheService::FragmentCaching.ams_all_taxons) do
    = inject_taxons
  - cache(*CacheService::FragmentCaching.ams_all_properties) do
    = inject_properties

#panes
  #shops.pane
    .row
      .small-12.medium-6.medium-offset-3.columns.text-center
        %h2
          = t :shops_headline
        %p.text-big
          = t :shops_text

= render "hubs"
= render "shared/footer"
