- content_for(:title) do
  = t :shops_signup_title

- content_for(:description) do
  = t :shops_signup_description

#panes
  #shops-signup.pane
    .row.header
      .small-12.medium-12.columns.text-center
        %h2
          = t :shops_signup_headline
    .row.content
      .small-12.medium-6.medium-offset-3.columns.text-center
        %p.text-big
          = t :shops_signup_motivation
        %br
        %a.button.transparent{href: "#{ENV["JUMP_AFRICA_APP_URL"]}/signin"}
          = t :shops_signup_action
  .pane
    .row
      .small-12.medium-10.medium-offset-1.columns.text-center
        %h2
          = t :shops_signup_pricing
        %br
        = t :shops_signup_enterprise_accounts

  #shops-case-studies
    .row
      .small-12.medium-10.medium-offset-1.columns
        %h2.text-center
          = t :shops_signup_stories
        %br
          = t :shops_signup_stories_details

  .pane#cta
    .row
      .small-12.medium-6.medium-offset-3.columns.text-center
        %h2
          = t :shops_signup_help
        %p.text-big
          = t :shops_signup_help_text
        %br
        %a.button.transparent{href: "#{ENV["JUMP_AFRICA_APP_URL"]}/signin"}
          = t :shops_signup_action

  #hub-details.pane.footer-pad
    .row
      .small-12.medium-10.medium-offset-1.columns
        %h2.text-center
          = t :shops_signup_detail
        = t :content_configuration_detail


= render partial: "shared/footer"
