- content_for(:title) do
  = t(:groups_signup_title)

- content_for(:description) do
  = t(:groups_signup_description)

#panes
  #shops-signup.pane
    .row.header
      .small-12.medium-12.columns.text-center
        %h2
          = t :groups_signup_headline
    .row.content
      .small-12.medium-6.medium-offset-3.columns.text-center
        %p.text-big
          = t :groups_signup_intro
        %br
        %a.button.transparent{href: "#{ENV["JUMP_AFRICA_APP_URL"]}/tickets/new"}
          = t :groups_signup_email

  .groups-details.pane
    .row
      .small-12.medium-8.medium-offset-2.columns
        %h3.text-center
          = t :groups_signup_motivation1
        %p.text-big
          = t :groups_signup_motivation2
        %p.text-big
          = t :groups_signup_motivation3
        %br
        %h3.text-center
          = t :groups_signup_motivation4
        %p.text-big
          = t :groups_signup_motivation5
        %p.text-big
          = t :groups_signup_motivation6
        %br
        %h3.text-center
          = t :groups_signup_motivation7
        %p.text-big
          = t :groups_signup_motivation8
        %p.text-big
          = t :groups_signup_motivation9
  .pane
    .row
      .small-12.medium-10.medium-offset-1.columns.text-center
        %h2
          = t :groups_signup_pricing
        -# %p.text-big
        -#   / If there is a time-sensitive offer you can write it here, e.g.
        -#   Time-sensitive offer goes here!
        %br
          = t :content_configuration_pricing_table

  #shops-case-studies
    .row
      .small-12.medium-10.medium-offset-1.columns
        %h2.text-center
          = t :why_should_start_selling_heading
        %ul
          %li
            = t :why_should_start_selling_about_1
          %li
            = t :why_should_start_selling_about_2
          %li
            = t :why_should_start_selling_about_3
          %li
            = t :why_should_start_selling_about_4
          %li
            = t :why_should_start_selling_about_5
          %li
            = t :why_should_start_selling_about_6

  .pane#cta
    .row
      .small-12.medium-6.medium-offset-3.columns.text-center
        %h2
          = t :groups_signup_contact
        %p.text-big
          = t :groups_signup_contact_text
        %a.button.transparent{href: "#{ENV["JUMP_AFRICA_APP_URL"]}/tickets/new"}
          = t :groups_signup_email

  #hub-details.pane.footer-pad
    .row
      .small-12.medium-10.medium-offset-1.columns.text-center
        %h2
          = t :about_account_heading_1
        -# %p.text-big
        -#   / If there is a time-sensitive offer you can write it here, e.g.
        -#   Time-sensitive offer goes here!
        %br
          = t :about_account_heading_2
        %br
          = t :about_account_heading_3
        %br 
          = t :about_account_heading_4

= render partial: "shared/footer"
