#brand-story.pane.brand-story-pane
  .row
    .small-12.medium-8.medium-offset-2.columns.text-center
      %h2
        Trade in Africa made Easy
      #pd-none.container-fluid.supporting-countries
        .container.countries.supported-country-list
          %h4
            Countries Supported
          %ul.country-list
            %li{"data-country" => "Nigeria"}
              = image_tag ('nigeria.svg')
            %li{"data-country" => "Kenya"}
              = image_tag ('kenya.svg')
            %li{"data-country" => "Ghana"}
              = image_tag ('ghana.svg')
            %li{"data-country" => "South Africa"}
              = image_tag ('south-africa.svg')
            %li{"data-country" => "United States"}
              = image_tag ('united-states.svg')
            %li{"data-country" => "United Kingdom"}
              = image_tag ('united-kingdom.svg')
            %li{"data-country" => "European Union"}
              = image_tag ('european.svg')
      %p
        = t :brandstory_intro

      #brand-story-text.hide-show.slideable
        %p
          = t :brandstory_part1
        %p
          = t :brandstory_part2
        %p
          = t :brandstory_part3
        %p
          = t :brandstory_part4
        %p
          %strong
            = t :brandstory_part5_strong
        %p
          = t :brandstory_part6

      %a.text-vbig{"slide-toggle" => "#brand-story-text", "ng-click" => "toggleBrandStory()"}
        %i.ofn-i_005-caret-down{"ng-hide" => "brandStoryExpanded"}
        %i.ofn-i_006-caret-up{  "ng-show" => "brandStoryExpanded"}
