.quick_links_header
    %h4.quick_link_title
        %a{ href: "#", title: "Quick Navigate" }
            Quick Navigate
    .quick_link_items
        %a.link-block{ href: "#{ENV["JUMP_AFRICA_APP_URL"]}/professional/services"}
            %img{ src: "/quick_links/expand.png" }
            %span Professional Services
        %a.link-block{ href: "#{ENV["JUMP_AFRICA_APP_URL"]}/markets/usdngn"}
            %img{ src: "/quick_links/professional-services.png" }
            %span P2P Exchange
        %a.link-block{ href: "#{ENV["JUMP_AFRICA_APP_URL"]}/social"}
            %img{ src: "/quick_links/discussion-forum.png" }
            %span Discussion Forum
        %a.link-block{ href: "#{ENV["JUMP_AFRICA_APP_URL"]}/pages/projectfunding"}
            %img{ src: "/quick_links/crowdfunding.png" }
            %span Crowdfunding
        %a.link-block{ href: "#{ENV["JUMP_AFRICA_APP_URL"]}/money/quick_exchange"}
            %img{ src: "/quick_links/quick-exchange.png" }
            %span Quick Exchange
        %a.link-block{ href: "#{ENV["JUMP_AFRICA_APP_URL"]}/social/chat_services"}
            %img{ src: "/quick_links/webchat.png" }
            %span Webchat
        %a.link-block{ href: "#{ENV["JUMP_AFRICA_APP_URL"]}/money/send"}
            %img{ src: "/quick_links/send-money.png" }
            %span Send Money
        %a.link-block{ href: "#{ENV["JUMP_AFRICA_APP_URL"]}/news"}
            %img{ src: "/quick_links/news.png" }
            %span News
        %a.link-block{ href: "#{ENV["JUMP_AFRICA_APP_URL"]}/money/escrow"}
            %img{ src: "/quick_links/escrow.png" }
            %span Escrow
        %a.link-block{ href: "#{ENV["JUMP_AFRICA_APP_URL"]}/barrel"}
            %img{ src: "/quick_links/pack-ship.png" }
            %span Pack and Ship
        %a.link-block{ href: "https://african.land/promoted-developments"}
            %img{ src: "/quick_links/off-plan-property-sales.png" }
            %span Off-plan Property Sales
        %a.link-block.coming-soon{ href: "https://african.land/promoted-developments"}
            %img{ src: "/quick_links/events-meetups.png" }
            %span Groups & Business
        %a.link-block.coming-soon{ href: "https://african.land/promoted-developments"}
            %img{ src: "/quick_links/recruitment.png" }
            %span Recruitment
        %a.link-block.coming-soon{ href: "https://african.land/promoted-developments"}
            %img{ src: "/quick_links/airline-ticket-bookings.png" }
            %span Airline Ticket Bookings
        %a.link-block.coming-soon{ href: "https://african.land/promoted-developments"}
            %img{ src: "/quick_links/podcasts-books-elearning.png" }
            %span Podcasts, Books & ELearning
