- if discourse_configured?
  %li
    %a{href: main_app.discourse_login_path, target: '_blank'}
      %span.nav-primary
        = t 'label_notices'

%li.user-menu.has-dropdown.not-click

  %a{href: "#", class: "top-bar--menu-item-with-icon"}
    %img{ src: image_pack_path("menu/icn-profile.svg") }
    %span
      = t '.profile'

  %ul.dropdown

    - if admin_user? or enterprise_user?
      %li
        %a{:onclick => "admin_dashboard()", id: "check_activate", current_user_id: current_spree_user.parent_id, :target => "_blank"}
          %i.ofn-i_021-tools
          = t 'label_administration'

    %li
      %a{href: spree.account_path}
        %i.ofn-i_015-user
        = t 'label_account'
        = "(" + spree_current_user.email + ")"

    %li
      %a{title: t('label_logout'), href:'/logout' }
        %i.ofn-i_018-unlocked
        = t 'label_logout'


:javascript
  function admin_dashboard() {
    $("#check_activate").on('click', function() {
      var is_logon_value = getCookiesMap(document.cookie);
      var is_logon = is_logon_value["is_logon"];
      var current_user_id = $("#check_activate").attr('current_user_id');
      console.log(is_logon);

      if (current_user_id !== null) {
        if (is_logon != null){
          window.location.href = "#{ENV["SITE_URL"]}/admin"
        }else{
          $.get("#{ENV["JUMP_AFRICA_APP_URL"]}/api/v1/two_factors_check", {userId: current_user_id}, function(data, status){
            if (status == "success") {
              if (data["is_activated"] == true ){
                window.location.href = "#{ENV["JUMP_AFRICA_APP_URL"]}/two_factors"
              }else{
                window.location.href = "#{ENV["JUMP_AFRICA_APP_URL"]}/navigate"
              }
            }else{
              window.location.href = "#{ENV["SITE_URL"]}"
            }
          });
        }
      }else{
        window.location.href = "#{ENV["JUMP_AFRICA_APP_URL"]}"
      }

      // function to get the cookie value
      function getCookiesMap(cookiesString) {
        return cookiesString.split(";")
          .map(function(cookieString) {
              return cookieString.trim().split("=");
          })
          .reduce(function(acc, curr) {
              acc[curr[0]] = curr[1];
              return acc;
          }, {});
      }
    });
  };