%script{ type: "text/ng-template", id: "shop/contact.html" }
  .content#contact
    .row
      .small-12.large-4.columns
        - if current_distributor.address.address1 || current_distributor.address.address2 || current_distributor.address.city || current_distributor.address.state || current_distributor.address.zipcode
          %div.center
            .header
              = t :shopping_contact_address
            %span= current_distributor.name
            %p
              = current_distributor.address.address1
              - unless current_distributor.address.address2.blank?
                %br
                = current_distributor.address.address2
              %br
              = current_distributor.address.city
              = current_distributor.address.state
              = current_distributor.address.zipcode

      .small-12.large-4.columns
        - if current_distributor.website || current_distributor.email_address || current_distributor.phone || current_distributor.whatsapp_phone
          %div.center
            .header
              = t :shopping_contact_web
            %p
              - if current_distributor.phone.present?
                = current_distributor.phone
                %br
              - if current_distributor.whatsapp_phone.present?
                %a{href: current_distributor.whatsapp_url, target: "_blank" }
                  %img{ src: image_pack_path("social-logos/whatsapp.svg") }
                  = current_distributor.whatsapp_phone
                  %br
              - if current_distributor.website.present?
                %a{href: "http://#{current_distributor.website}", target: "_blank" }
                  = current_distributor.website
                  %br
              - if current_distributor.email_address.present?
                %a{id:"start-new-chat", data: current_distributor}
                  %span.obfuscatedEmail.email
                    = current_distributor.email_address.reverse

      .small-12.large-4.columns
        - if current_distributor.twitter.present? || current_distributor.facebook.present? || current_distributor.linkedin.present? || current_distributor.instagram.present?
          %div.center
            .header
              = t :shopping_contact_social
            %div.follow-icons
              - if current_distributor.twitter.present?
                %span
                  %a{href: "http://twitter.com/#{current_distributor.twitter}", target: "_blank" }
                    %i.twitter.ofn-i_041-twitter

              - if current_distributor.facebook.present?
                %span
                  %a{href: "http://#{current_distributor.facebook}", target: "_blank" }
                    %i.facebook.ofn-i_044-facebook

              - if current_distributor.linkedin.present?
                %span
                  %a{href: "http://#{current_distributor.linkedin}", target: "_blank" }
                    %i.linkedin.ofn-i_042-linkedin

              - if current_distributor.instagram.present?
                %span
                  %a{href: "http://instagram.com/#{current_distributor.instagram}", target: "_blank" }
                    %i.instagram.ofn-i_043-instagram

%link{:rel => :stylesheet, :type => :"text/css", :href => "/assets/darkswarm/application.css"}
// %link{:rel => :stylesheet, :type => :"text/css", :href => "http://localhost:3000/assets/application.css?body=1"}


:javascript
  $(document).ready(function(){
    $("#start-new-chat").on('click', function() {
      $.get("#{ENV["JUMP_AFRICA_APP_URL"]}/api/v1/profile_info", {email: "deepesh.yadav@w3villa.com"}, function(data, status){
        if (status == "success") {


          var user_name = data?.data.name;
          var user_verified = data?.verified_user;
          var user_img = data?.data.img;
          var user_slug = data?.data.slug;
          var user_id = data?.data.id;
          var user_sn = data?.data.sn;
          var user_online = true;
          var chatBoxes = {}; 
          var new_box = jQuery('<div/>', {"class": 'chat-box active', "id": 'chat_'+user_id}).appendTo('.bottom-chat');
          chatBoxes['"'+user_id+'"'] = 'active';
          localStorage.chatBoxesList = JSON.stringify(chatBoxes);
          if($('#chat_'+user_id).length > 0) {
                        
          } else {

            var new_box = jQuery('<div/>', {"class": 'chat-box active', "id": 'chat_'+user_id}).appendTo('.bottom-chat');
            chatBoxes['"'+user_id+'"'] = 'active';
            localStorage.chatBoxesList = JSON.stringify(chatBoxes);

            $.ajax({
              url: "#{ENV["JUMP_AFRICA_APP_URL"]}/social/chat_services/get_msg",
              type: "POST",
              data: { id: 25947, current_user_id: user_id},
              success: function(resp){
                alert(resp.success)
                if(resp.success){
                  if (user_online) {
                    var append_to_box = '<div class="chat-head online">';
                  } else {
                    var append_to_box = '<div class="chat-head">';
                  }
                  append_to_box += '<div class="img"><span class="is_online_dot"><span class="pop_online"></span></span><img src="'+user_img+'" /></div>';
                  append_to_box += '<a href="/social/user_profile/'+user_slug+'">'+user_name+'</a>';
                  if(user_verified) {
                    append_to_box += '<span class="verified"><i class="fa fa-check"></i><span class="pop_up">Fully Verified</span></span>';
                  }
                  append_to_box += '<i class="expand-chat fa fa-expand" data-id="'+user_id+'"></i>';
                  append_to_box += '<span class="open-chat" data-id="'+user_id+'">&nearr;</span>';
                  append_to_box += '<span class="close-chat" data-id="'+user_id+'">&times;</span>';
                  append_to_box += '</div>';
                  append_to_box += '<div class="chat-body">';
                  append_to_box += '<div class="chatbody-top" id="message_body_div'+user_id+'" ondrop="dropFile(event)" ondragover="dragFile(event)" ondragleave="dragLeave(event)" ondragenter="dragFile(event)" data-id="'+user_id+'">';
                  append_to_box += '<div class="drop-box"><div class="drop-area"><i class="fa fa-upload"></i><h3>Drop to Upload</h3></div></div>';
                  $.each(resp.msgs, function(index, value) {
                    if (value.sender_id ==  current_user.id ) {
                      if (value.sender_deleted == false){
                         append_to_box += '<p class="message sent">';
                         append_to_box += '<span class="message_inner">';
                         if(value.id in resp.message_attachments) {
                            $.each(resp.message_attachments[value.id], function(key, val) {
                              let is_image = ['image/jpeg', 'image/jpg', 'image/png', 'image/bmp'];
                              if (is_image.includes(val.file_type)) {
                                append_to_box += '<a href="/uploads/asset/message_attachments/files/'+value.id+'/'+val.file_name+'" download><img src="/uploads/asset/message_attachments/files/'+value.id+'/'+val.file_name+'" /></a>';
                              } else {
                                append_to_box += '<a href="/uploads/asset/message_attachments/files/'+value.id+'/'+val.file_name+'" download><span class="message-attachment"><span>'+val.file_name+'</span><i class="fa fa-download"></i></span></a>';
                              }
                            });
                         }
                         if (value.body) {
                           append_to_box += '<span>'+value.body+'</span>';
                         }
                         append_to_box += '</span>';
                         if (!value.read_at) { 
                           append_to_box += '<i class="fa fa-check"></i>';
                         } else {
                           append_to_box += '<i class="fa fa-check"></i><i class="fa fa-check"></i>';
                         }
                         append_to_box += '</p>';
                      }
                    } else {
                      if (value.sender_deleted == true){
                        append_to_box += '<p class="message received is-yellow">';
                      }else {
                        append_to_box += '<p class="message received">';
                      }
                      append_to_box += '<span class="message_inner">';
                      if(value.id in resp.message_attachments) {
                        $.each(resp.message_attachments[value.id], function(key, val) {
                          let is_image = ['image/jpeg', 'image/jpg', 'image/png', 'image/bmp'];
                          if (is_image.includes(val.file_type)) {
                            append_to_box += '<a href="/uploads/asset/message_attachments/files/'+value.id+'/'+val.file_name+'" download><img src="/uploads/asset/message_attachments/files/'+value.id+'/'+val.file_name+'" /></a>';
                          } else {
                            append_to_box += '<a href="/uploads/asset/message_attachments/files/'+value.id+'/'+val.file_name+'" download><span class="message-attachment"><span>'+val.file_name+'</span><i class="fa fa-download"></i></span></a>';
                          }
                        });
                      }
                      if (value.body) {
                        append_to_box += '<span>'+value.body+'</span>';
                      }
                      append_to_box += '</span>';
                      append_to_box += '</p>';
                    }
                  });
                  append_to_box += '</div>';
                  append_to_box += '<div id="attachment_'+user_id+'" data-id="'+user_id+'" class="user_attachment_ui"></div>';
                  append_to_box += '<div class="chatbody-bottom">';
                  append_to_box += '<input type="hidden" id="file_base_'+ user_id +'">';
                  append_to_box += '<input type="hidden" id="file_type_'+ user_id +'">';
                  append_to_box += '<input type="hidden" id="file_name_'+ user_id +'">';
                  append_to_box += '<div class="attach"><input type="text" data-emojiable="true" data-emoji-input="unicode" name="message" placeholder="Type a message..." class="message_body" data-recipient="'+user_id+'" /></div>';
                  append_to_box += '<i class="fa fa-plus-circle chat_box_quick_links"></i>';
                  append_to_box += '<button class="send_message">Send</button>';
                  append_to_box += '</div>';
                  append_to_box += '<div class="chatbox_links">';
                  append_to_box += '<input id="upload-file_'+user_id+'" name="file" type="file" data-id="'+user_id+'" />';
                  append_to_box += '<label for="upload-file_'+user_id+'"><img src="/assets/icons/attach.png" /></label>';
                  if (current_user_is_verified) {
                     append_to_box += '<a target="_blank" href="/money/send?usn='+user_sn+'"><img src="/assets/icons/wallet.png" /></a>';
                     append_to_box += '<a target="_blank" href="/money/req?usn='+user_sn+'"><img src="/assets/icons/check.png" /></a>';
                  }
                  append_to_box += '<a target="_blank" href="/social/user_profile/'+user_slug+'#services"><img src="/assets/icons/technical-support.png" /></a>';
                  append_to_box += '</div>';
                  append_to_box += '</div>';
                  new_box.append(append_to_box);
                  $(function() {
                    window.emojiPicker = new EmojiPicker({
                      emojiable_selector: '[data-emojiable=true]',
                      assetsPath: '/assets/emoji_img/',
                      popupButtonClasses: 'fa fa-smile-o'
                    });
                    window.emojiPicker.discover();
                  });
                  var message_body_div = document.getElementById('message_body_div'+user_id);
                  message_body_div.scrollTop = message_body_div.scrollHeight;
                }
              },
              dataType: "json",
              error: function(){
              }
            });
          }
        }
      });
    });
  });
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>