%script{ type: "text/ng-template", id: "shop/contact.html" }
  .content#contact
    .row
      .small-12.large-4.columns
        - if current_distributor.address.address1 || current_distributor.address.address2 || current_distributor.address.city || current_distributor.address.state || current_distributor.address.zipcode
          %div.center
            .header
              = t :shopping_contact_address
            %span= current_distributor.name
            %p
              = current_distributor.address.address1
              - unless current_distributor.address.address2.blank?
                %br
                = current_distributor.address.address2
              %br
              = current_distributor.address.city
              = current_distributor.address.state
              = current_distributor.address.zipcode

      .small-12.large-4.columns
        - if current_distributor.website || current_distributor.email_address || current_distributor.phone || current_distributor.whatsapp_phone     
          %div.center
            .header
              = t :shopping_contact_web
            %p
              - if current_distributor.phone.present?
                = current_distributor.phone
                %br
              - if current_distributor.whatsapp_phone.present?
                %a{href: current_distributor.whatsapp_url, target: "_blank" }
                  %img{ src: image_pack_path("social-logos/whatsapp.svg") }
                  = current_distributor.whatsapp_phone
                  %br
              - if current_distributor.website.present?
                %a{href: "http://#{current_distributor.website}", target: "_blank" }
                  = current_distributor.website
                  %br
              - if current_distributor.email_address.present?
                - if current_spree_user.present?
                  %a{id:"start-new-chat", current_user_id: current_spree_user.parent_id, recept_user_id: current_distributor.users.first.parent_id }
                    %span
                      send message


      .small-12.large-4.columns
        - if current_distributor.twitter.present? || current_distributor.facebook.present? || current_distributor.linkedin.present? || current_distributor.instagram.present?
          %div.center
            .header
              = t :shopping_contact_social
            %div.follow-icons
              - if current_distributor.twitter.present?
                %span
                  %a{href: "http://twitter.com/#{current_distributor.twitter}", target: "_blank" }
                    %i.twitter.ofn-i_041-twitter

              - if current_distributor.facebook.present?
                %span
                  %a{href: "http://#{current_distributor.facebook}", target: "_blank" }
                    %i.facebook.ofn-i_044-facebook

              - if current_distributor.linkedin.present?
                %span
                  %a{href: "http://#{current_distributor.linkedin}", target: "_blank" }
                    %i.linkedin.ofn-i_042-linkedin

              - if current_distributor.instagram.present?
                %span
                  %a{href: "http://instagram.com/#{current_distributor.instagram}", target: "_blank" }
                    %i.instagram.ofn-i_043-instagram

- if !current_spree_user.nil?
  .message-sidebar
    .message-top
      %div
        - if current_spree_user.present?
          %a{href: "/social/user_profile/#{current_spree_user.parent_id}"}
            = image_tag "#{ENV["JUMP_AFRICA_APP_URL"]}/assets/social/68.png"
        - else
          %a{href: "/social/user_profile/#{current_spree_user.parent_id}"}
            = image_tag "#{ENV["JUMP_AFRICA_APP_URL"]}/assets/social/68.png"
        %span#unredMessages
          Unread Messages
        %p.c_user_info
          %span
            \!
            %span
              Please be reminded that any transactions or conversations outside the Jump.AFRICA platform are not recorded and therefore not protected by our Escrow policy.
              %br/
              = succeed "All" do
                %br/
              %br/
              = succeed "We" do
                %br/
      %i.fa.fa-chevron-up
.bottom-chat

%link{:rel => :stylesheet, :type => :"text/css", :href => "https://jump.africa/assets/emoji_css/emoji.css"}
%link{:rel => :stylesheet, :type => :"text/css", :href => "/assets/darkswarm/application.css"}

%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js", :type => "text/javascript"}
%script{:src => "/assets/emoji_js/config.js", :type => "text/javascript"}
%script{:src => "/assets/emoji_js/util.js", :type => "text/javascript"}
%script{:src => "/assets/emoji_js/jquery.emojiarea.js", :type => "text/javascript"}
%script{:src => "/assets/emoji_js/emoji-picker.js", :type => "text/javascript"}

:javascript

  function getData(current_user_id){
    return new Promise((resolve, reject) => {

     $.post("#{ENV["JUMP_AFRICA_APP_URL"]}/social/chat_services/current_user_record", {current_user_id: current_user_id}, function(data, status){
          if (status == "success") {
            resolve(data);
          }
        });
    });
  }


  $(document).ready(async function(){
    var chatBoxes = {};
    var message_id = 0;
    var current_user_id = $("#start-new-chat").attr('current_user_id');
    var user_data;
    var unread_msg_count;
    var user_details  = await getData(current_user_id)
    unread_msg_count = user_details.unread_msg_count;

    $("#unredMessages").html(unread_msg_count + " Unread Messages");
    
    var user_chats_details = user_details?.info
    
    console.log(user_chats_details);
    var new_list = jQuery('<ul/>').appendTo('.message-sidebar');
    $.each(user_chats_details, function(key,val) {             
      data_slug = val.slug
      data_sn = val.sn
      data_verified = val.is_verified
      id = val.id
      image_url = val.image_url
      default_image = val.default_image
      removeChatMessage = val.remove_chatmsg
      unread = val.unreads;

      var append_to_box = '<div>';
        append_to_box += '<li class="get_message" data-slug="'+data_slug+'" data-sn="'+data_sn+'" data-verified="'+data_verified+'" id="'+id+'">';
          append_to_box += '<div class="img">';
            append_to_box += '<span class="is_online_dot">';
            append_to_box += '<span class="pop_online">';
            append_to_box += '</span>';
            append_to_box += '</span>';
            append_to_box += '<img src="#{ENV["JUMP_AFRICA_APP_URL"]}/'+default_image+'"/>'
            append_to_box += '</div>';
            append_to_box += '<div>';
            append_to_box += '<span class="name">'+data_slug+'';
            append_to_box += '</span>';
            if (data_verified){
              append_to_box += '<span class="verified">';
              append_to_box += '<i class="fa fa-check">';
              append_to_box += '</i>'
              append_to_box += '<span class="pop_up"> Fully Verified'
              append_to_box += '</span>'
            }
            append_to_box += '</span>'
            append_to_box += '<span class="is_online"> online'
            append_to_box += '</span>'
          append_to_box += '</div>'
        append_to_box += '</li>';
      append_to_box += '</div>'
      new_list.append(append_to_box);
    });


    $("#start-new-chat").on('click', function() {
      var recept_user_id = $("#start-new-chat").attr('recept_user_id');

      $.get("#{ENV["JUMP_AFRICA_APP_URL"]}/api/v1/profile_info", {id: recept_user_id}, function(data, status){
        if (status == "success") {

          var user_name = data?.data.slug;
          var user_verified = data?.verified_user;
          var user_img = data?.image_url;
          var user_slug = data?.data.slug;
          var user_id = data?.data.id;
          var user_sn = data?.data.sn;
          var user_online = true;
          var chatBoxes = {}; 
          var new_box = jQuery('<div/>', {"class": 'chat-box active', "id": 'chat_'+user_id}).appendTo('.bottom-chat');
          chatBoxes['"'+user_id+'"'] = 'active';
          localStorage.chatBoxesList = JSON.stringify(chatBoxes);
        
          var new_box = jQuery('<div/>', {"class": 'chat-box active', "id": 'chat_'+user_id}).appendTo('.bottom-chat');
          chatBoxes['"'+user_id+'"'] = 'active';
          localStorage.chatBoxesList = JSON.stringify(chatBoxes);
          var current_user_is_verified = true;
          $.ajax({
            url: "#{ENV["JUMP_AFRICA_APP_URL"]}/social/chat_services/get_msg",
            type: "POST",
            data: { id: recept_user_id, current_user_id: current_user_id},
            success: function(resp){
              if(resp.success){
                if (user_online) {
                  var append_to_box = '<div class="chat-head online">';
                } else {
                  var append_to_box = '<div class="chat-head">';
                }
                append_to_box += '<div class="img"><span class="is_online_dot"><span class="pop_online"></span></span><img src="#{ENV["JUMP_AFRICA_APP_URL"]}/assets/'+user_img+'" /></div>';
                append_to_box += '<a href="#{ENV["JUMP_AFRICA_APP_URL"]}/social/user_profile/'+user_slug+'">'+user_name.toUpperCase()+'</a>';
                if(user_verified) {
                  append_to_box += '<span class="verified"><i class="fa fa-check"></i><span class="pop_up">Fully Verified</span></span>';
                }
                append_to_box += '<i class="expand-chat fa fa-expand" data-id="'+user_id+'"></i>';
                append_to_box += '<span class="open-chat" data-id="'+user_id+'">&nearr;</span>';
                append_to_box += '<span class="close-chat" data-id="'+user_id+'">&times;</span>';
                append_to_box += '</div>';
                append_to_box += '<div class="chat-body">';
                append_to_box += '<div class="chatbody-top" id="message_body_div'+user_id+'" ondrop="dropFile(event)" ondragover="dragFile(event)" ondragleave="dragLeave(event)" ondragenter="dragFile(event)" data-id="'+user_id+'">';
                append_to_box += '<div class="drop-box"><div class="drop-area"><i class="fa fa-upload"></i><h3>Drop to Upload</h3></div></div>';
                $.each(resp.msgs, function(index, value) {
                  if (value.sender_id ==  current_user_id ) {
                    if (value.sender_deleted == false){
                       append_to_box += '<p class="message sent">';
                       append_to_box += '<span class="message_inner">';
                       if(value.id in resp.message_attachments) {
                          $.each(resp.message_attachments[value.id], function(key, val) {
                            let is_image = ['image/jpeg', 'image/jpg', 'image/png', 'image/bmp'];
                            if (is_image.includes(val.file_type)) {
                              append_to_box += '<a href="/uploads/asset/message_attachments/files/'+value.id+'/'+val.file_name+'" download><img src="/uploads/asset/message_attachments/files/'+value.id+'/'+val.file_name+'" /></a>';
                            } else {
                              append_to_box += '<a href="/uploads/asset/message_attachments/files/'+value.id+'/'+val.file_name+'" download><span class="message-attachment"><span>'+val.file_name+'</span><i class="fa fa-download"></i></span></a>';
                            }
                          });
                       }
                       if (value.body) {
                         append_to_box += '<span>'+value.body+'</span>';
                       }
                       append_to_box += '</span>';
                       if (!value.read_at) { 
                         append_to_box += '<i class="fa fa-check"></i>';
                       } else {
                         append_to_box += '<i class="fa fa-check"></i><i class="fa fa-check"></i>';
                       }
                       append_to_box += '</p>';
                    }
                  } else {
                    if (value.sender_deleted == true){
                      append_to_box += '<p class="message received is-yellow">';
                    }else {
                      append_to_box += '<p class="message received">';
                    }
                    append_to_box += '<span class="message_inner">';
                    if(value.id in resp.message_attachments) {
                      $.each(resp.message_attachments[value.id], function(key, val) {
                        let is_image = ['image/jpeg', 'image/jpg', 'image/png', 'image/bmp'];
                        if (is_image.includes(val.file_type)) {
                          append_to_box += '<a href="/uploads/asset/message_attachments/files/'+value.id+'/'+val.file_name+'" download><img src="/uploads/asset/message_attachments/files/'+value.id+'/'+val.file_name+'" /></a>';
                        } else {
                          append_to_box += '<a href="/uploads/asset/message_attachments/files/'+value.id+'/'+val.file_name+'" download><span class="message-attachment"><span>'+val.file_name+'</span><i class="fa fa-download"></i></span></a>';
                        }
                      });
                    }
                    if (value.body) {
                      append_to_box += '<span>'+value.body+'</span>';
                    }
                    append_to_box += '</span>';
                    append_to_box += '</p>';
                  }
                });

                append_to_box += '</div>';
                append_to_box += '<div id="attachment_'+user_id+'" data-id="'+user_id+'" class="user_attachment_ui"></div>';
                append_to_box += '<div class="chatbody-bottom">';
                append_to_box += '<input type="hidden" id="file_base_'+ user_id +'">';
                append_to_box += '<input type="hidden" id="file_type_'+ user_id +'">';
                append_to_box += '<input type="hidden" id="file_name_'+ user_id +'">';
                append_to_box += '<div class="attach"><input type="text" data-emojiable="true" data-emoji-input="unicode" name="message" placeholder="Type a message..." class="message_body" data-recipient="'+user_id+'" /></div>';
                append_to_box += '<i class="fa fa-plus-circle chat_box_quick_links"></i>';
                append_to_box += '<button class="send_message">Send</button>';
                append_to_box += '</div>';
                append_to_box += '<div class="chatbox_links">';
                append_to_box += '<input id="upload-file_'+user_id+'" name="file" type="file" data-id="'+user_id+'" />';
                append_to_box += '<label for="upload-file_'+user_id+'"><img src="/assets/icons/attach.png" /></label>';
                if (current_user_is_verified) {
                   append_to_box += '<a target="_blank" href="/money/send?usn='+user_sn+'"><img src="/assets/icons/wallet.png" /></a>';
                   append_to_box += '<a target="_blank" href="/money/req?usn='+user_sn+'"><img src="/assets/icons/check.png" /></a>';
                }
                append_to_box += '<a target="_blank" href="/social/user_profile/'+user_slug+'#services"><img src="/assets/icons/technical-support.png" /></a>';
                append_to_box += '</div>';
                append_to_box += '</div>';
                new_box.append(append_to_box);
                $(function() {
                  window.emojiPicker = new EmojiPicker({
                    emojiable_selector: '[data-emojiable=true]',
                    assetsPath: '/emoji_img/',
                    popupButtonClasses: 'fa fa-smile-o'
                  });
                  window.emojiPicker.discover();
                });
                var message_body_div = document.getElementById('message_body_div'+user_id);
                message_body_div.scrollTop = message_body_div.scrollHeight;
              }
            },
            dataType: "json",
            error: function(){
            }
          });
        }
      });
    });

  // close button codes here
  $(document).on("click", ".close-chat" , function() {
    var user_id = $(this).data('id');
    console.log(user_id, "hii")
    delete chatBoxes['"'+user_id+'"'];
    console.log(chatBoxes, "this is chatbox")
    localStorage.chatBoxesList = JSON.stringify(chatBoxes);
    $(this).parent().parent().remove();
  });

  // send message codes here
    $(document).on("click", ".send_message" , function() {
      message_id += 1;
      console.log(current_user_id, "this is id")
      var user_id = $(this).parent().find('.attach').find('.message_body').data('recipient');
      var message = $(this).parent().find('.attach').find('.emoji-wysiwyg-editor').html();

      var base_64 = document.getElementById('file_base_'+user_id).value;
      var type_64 = document.getElementById('file_type_'+user_id).value;
      var name_64 = document.getElementById('file_name_'+user_id).value;  
      var msg_print = '<p class="message sent" data-msgid="'+message_id+'">';
      msg_print += '<span class="message_inner">';
      if(base_64 && type_64 && name_64) {
        let is_image = ['image/jpeg', 'image/jpg', 'image/png', 'image/bmp'];
        if (is_image.includes(type_64)) {
          msg_print += '<a href="'+base_64+'" download><img src="'+base_64+'" /></a>';
        } else {
          msg_print += '<a href="'+base_64+'" download><span class="message-attachment"><span>'+name_64+'</span><i class="fa fa-download"></i></span></a>';
        }
      }
      msg_print += '<span>'+message+'</span>';
      msg_print += '</span>';
      msg_print += '<i class="fa fa-history"></i>';
      msg_print += '</p>';
      var new_message = $(this).parent().prev('.user_attachment_ui').prev('.chatbody-top').append(msg_print);
      var message_body_div_send = document.getElementById('message_body_div'+user_id);
      message_body_div_send.scrollTop = message_body_div_send.scrollHeight;
      $(this).parent().find('.attach').find('.message_body').val('');
      $(this).parent().find('.attach').find('.emoji-wysiwyg-editor').html('');
      $(this).parent().prev('.user_attachment_ui').html('');
      $('#file_base_'+user_id).removeAttr('value');
      $('#file_name_'+user_id).removeAttr('value');
      $('#file_type_'+user_id).removeAttr('value');
      $.ajax({
        url: "#{ENV["JUMP_AFRICA_APP_URL"]}/social/chat_services/send_msg",
        type: "post",
        data: {  current_user_id: current_user_id, id: user_id, msg: message, msg_id: message_id, file_base: base_64, file_name: name_64,file_type: type_64 },
        success: function(resp){
          if(resp.success){
            $('[data-msgid="'+resp.msgsid+'"]').find('i').removeClass('fa-history');
            $('[data-msgid="'+resp.msgsid+'"]').find('i').addClass('fa-check');
          } else if(resp.custom_error_code == 101) {
            var cannot_send_message = jQuery('<div/>', {"class": 'user_unverified'}).appendTo(document.body);
            cannot_send_message.append('<div class="inner"><div class="content"><p>You need to be a verified member to send messages. <a href="/settings">Click here to get verified.</a></p></div><span class="close_user_unverified">Okay</span></div>');
            $('[data-msgid="'+resp.msgsid+'"]').remove();
          } else {
            $('[data-msgid="'+resp.msgsid+'"]').remove();
          }
        },
        dataType: "json",
        error: function(){
        }
      });
    });

    //expand chat ui
    $(document).on("click", ".expand-chat" , function() {
      var user_id = $(this).data('id');
      if (chatBoxes['"'+user_id+'"'] == 'active') {
        chatBoxes['"'+user_id+'"']= 'active_expanded';
      } else if (chatBoxes['"'+user_id+'"'] == 'minimized') {
        chatBoxes['"'+user_id+'"']= 'minimized_expanded';
      } else if (chatBoxes['"'+user_id+'"'] == 'minimized_expanded') {
        chatBoxes['"'+user_id+'"']= 'minimized';
      } else if (chatBoxes['"'+user_id+'"'] == 'active_expanded') {
        chatBoxes['"'+user_id+'"']= 'active';
      }
      localStorage.chatBoxesList = JSON.stringify(chatBoxes);
      $(this).parent().parent().toggleClass('expanded');
      $(this).toggleClass('fa-expand');
      $(this).toggleClass('fa-compress');
    });

    //open chat
    $(document).on("click", ".open-chat" , function() {
      var user_id = $(this).data('id');
      if (chatBoxes['"'+user_id+'"'] == 'active') {
        chatBoxes['"'+user_id+'"']= 'minimized';
      } else if (chatBoxes['"'+user_id+'"'] == 'minimized') {
        chatBoxes['"'+user_id+'"']= 'active';
      } else if (chatBoxes['"'+user_id+'"'] == 'minimized_expanded') {
        chatBoxes['"'+user_id+'"']= 'active_expanded';
      } else if (chatBoxes['"'+user_id+'"'] == 'active_expanded') {
        chatBoxes['"'+user_id+'"']= 'minimized_expanded';
      }
      localStorage.chatBoxesList = JSON.stringify(chatBoxes);
      $(this).parent().parent().toggleClass('active');
    });

    $('#open_msg_sidebar').on('click', function() {
      $('.message-sidebar').toggleClass('active');
    });
    $('.message-top').on('click', function() {
      $('.message-sidebar').toggleClass('active');
    });

  });
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
