- shop_name = "#{current_distributor.name}"
- country = "#{current_distributor.address.country}"

- content_for(:title) do
  = "Buy from #{shop_name} in #{country} on Jump Africa"

- content_for(:description) do
  - attributes = %w{address1 address2 city zipcode}
  - address = current_distributor.address.attributes.values_at(*attributes).compact.join(', ')
  - products = current_distributor.supplied_products.pluck(:name).join(', ')

  = "Buy #{products} from #{shop_name} locally in  #{address} #{country} or to export globally. #{shop_name} is a registered seller and supplier on Jump Africa."

- content_for(:image) do
  = url_for(current_distributor.logo) if current_distributor.logo.attached?

- content_for :injection_data do
  - cache(*CacheService::FragmentCaching.ams_shop(@enterprise)) do
    = inject_enterprise_shopfront(@enterprise)
  - cache(*CacheService::FragmentCaching.ams_all_taxons) do
    = inject_taxons
  - cache(*CacheService::FragmentCaching.ams_all_properties) do
    = inject_properties

%shop.darkswarm
  - if @shopfront_layout == 'embedded'
    = render partial: 'shop/blocked_cookies'

  .alert-box.changeable-orders-alert.info.animate-show{ ng: { show: "alert.visible && alert.html", cloak: true } }
    %span{ ng: { bind: { html: "alert.html" } } }
    %a.close{ ng: { click: "alert.close()" } } &times;

  - content_for :order_cycle_form do
    = render partial: "change_order_cycle"

  = render partial: "shopping_shared/header"
  = render partial: "shopping_shared/tabs"

= render partial: "shared/footer"
