- content_for(:title) do
  = t :producers_signup_title

- content_for(:description) do
  = t :producers_signup_description

#panes
  #producer-signup.pane
    .row.header
      .small-12.medium-12.columns.text-center
        %h2
          = t :producers_signup_headline
    .row.content
      .small-12.medium-6.medium-offset-3.columns.text-center
        %p.text-big
          = t :producers_signup_motivation
        %br
        - if spree_current_user.present?
          %a.button.transparent{href: "/register"}
            = t :producers_signup_send
        - else
          %a.button.transparent{href: "#{ENV["JUMP_AFRICA_APP_URL"]}/signin"}
            = t :producers_signup_send

  .pane
    .row
      .small-12.medium-10.medium-offset-1.columns.text-center
        %h2
          = t :producers_signup_enterprise
        -# %p.text-big
        -#   If there is a time-sensitive offer you can write it here, e.g.
        -#   Sign up before 30th June for an extra month free!
            %br
        = t :content_configuration_pricing_table

  #producer-case-studies
    .row
      .small-12.medium-10.medium-offset-1.columns
        %h2.text-center
          = t :why_should_start_selling_heading
        %ul
          %li
            = t :why_should_start_selling_about_1
          %li
            = t :why_should_start_selling_about_2
          %li
            = t :why_should_start_selling_about_3
          %li
            = t :why_should_start_selling_about_4
          %li
            = t :why_should_start_selling_about_5
          %li
            = t :why_should_start_selling_about_6

  .pane#cta
    .row
      .small-12.medium-6.medium-offset-3.columns.text-center
        %h2
          = t :producers_signup_cta_headline
        %p.text-big= t('.start_free_profile')
        - if spree_current_user.present?
          %a.button.transparent{href: "/register"}
            = t :producers_signup_cta_action
        - else
          %a.button.transparent{href: "#{ENV["JUMP_AFRICA_APP_URL"]}/signin"}
            = t :producers_signup_cta_action


  #producer-details.pane.footer-pad
    .row
      .small-12.medium-10.medium-offset-1.columns.text-center
        %h2
          = t :about_account_heading_1
        -# %p.text-big
        -#   / If there is a time-sensitive offer you can write it here, e.g.
        -#   Time-sensitive offer goes here!
        %br
          = t :about_account_heading_2
        %br
          = t :about_account_heading_3
        %br 
          = t :about_account_heading_4

= render partial: "shared/footer"
